*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* barre de naviguation */

.navbar{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 3px;
	position: fixed;
	top: 0px;
	background-color:#A4E1C7 ;
	width: 100%;

}

.onglets{
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}
.onglets p{
	font-size: 45px;
	margin-right: 35px;
}

.onglets p a{
	text-decoration: none;
	color: #fff;
}
.onglets p a:hover{
	color: black;}
/*fin barre de naviguation*/

/*page d'atterissage*/
.content{

	position: relative;
	width: 100%;
	min-height: 100vh;
	flex-direction: colum;
	justify-content: flex-start;
	background: url(https://img.20mn.fr/5LKv1Dr9Qfy2mJN2Rr0r_Q/768x492_dj-arafat-deson-vrai-nom-ange-didier-huon-scene-zenith-paris-27-mars-2016)no-repeat;
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	z-index: -1;
	margin-top: 75px;

}

.content h1{
	font-size: 65px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 60px;
	text-align: justify;
	color: #BAC0C2;
	margin-top: 75px;
}

.content p{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 60px;
	text-align: justify;
	color: #BAC0C2;
}

/* fin page d'atterissage */

/*bio*/
.main{
	background-color: #A4E1C7;
}
.main h2{
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 60px;
	text-align: center;
	text-decoration: underline;
	
}
.bio{
	margin-top: 40px;
	border-top: 10px blue inset;
	border-left: 10px blue outset;
	border-bottom: 10px blue groove;
	margin-left: 35px;
	margin-right: 10px;
	box-shadow:8px 8px 6px black ;

}
.bio p{
	font-weight: bold;
	font-size: 30px;
	background-color: #EEFEFC;
}
.float{
	float: left;
}
/*fin bio*/

/*discographie*/

.main1{
	background-color:#EEFEFC ;
}


.main1 h2{
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: 60px;
	text-align: center;
	text-decoration: underline;
	
}